@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

html {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #999999; }

p::-moz-selection {
  background: transparent; }

p::selection {
  background: transparent; }

p::-moz-selection {
  background: transparent; }

.container {
  z-index: 1;
  width: 1200px;
  margin: 0 auto; }
  @media (max-width: 1200px) {
    .container {
      width: 100%; } }

.grid {
  display: grid; }

.img-responsive {
  display: inline-block;
  max-width: 100%;
  height: auto; }

a, .main_head-sec, .first_sect .main_content .main_head, .first_sect .main_nav_bottom .nav_bottom_item, .sect_two .counter-ref .container .ref-item, .serv_row .serv_item .serv_head, .five_sect .container .txt_acc label {
  text-transform: uppercase; }

.main_head-sec, .first_sect .main_content .main_head, .first_sect .main_content .main_btn, .first_sect .main_nav_bottom .nav_bottom_item span, .sect_two .counter-ref .container .ref-item span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }

.cursive-sec, .first_sect .main_content .cursiv {
  font-family: 'Kaushan Script', cursive; }

.first_sect .main_nav_bottom .nav_bottom_item, .sect_two .counter-ref .container .ref-item, .serv_row .serv_item .serv_head, .five_sect .container .txt_acc label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.sect_two, .serv_row .serv_item {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

a {
  color: #fff;
  text-decoration: none; }

.hrPink {
  border: none;
  width: 60px;
  background-color: #f38181;
  color: #f38181;
  height: 2px;
  margin-bottom: 40px; }

.cursive-sec {
  text-align: center;
  color: #333333;
  font-size: 1.6em;
  margin-top: 90px; }

.main_head-sec {
  text-align: center;
  color: #333333;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px; }

.first_sect {
  min-height: 100vh;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  position: relative; }
  .first_sect:before {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
    background-image: -webkit-linear-gradient(top, #f38181, #fce38a);
    background-image: -o-linear-gradient(top, #f38181, #fce38a);
    background-image: linear-gradient(to bottom, #f38181, #fce38a);
    opacity: .9; }
  .first_sect .header {
    margin-top: 29px; }
    .first_sect .header nav {
      float: right; }
      .first_sect .header nav .nav_item {
        font-size: 0.98em;
        color: #fff;
        text-decoration: none;
        padding: 6px;
        margin-left: 38px; }
        .first_sect .header nav .nav_item:hover {
          color: #fce38a;
          border-bottom: 2px solid #fce38a; }
  .first_sect .main_content {
    color: #fff;
    text-align: center; }
    .first_sect .main_content .cursiv {
      font-size: 4.8em;
      margin-top: 165px; }
    .first_sect .main_content .main_head {
      color: #fff;
      font-size: 10em;
      margin-top: -30px;
      line-height: 0.9;
      letter-spacing: -9px; }
    .first_sect .main_content hr {
      border: none;
      width: 60px;
      background-color: #fff;
      color: #fff;
      height: 2px;
      margin-top: -85px; }
    .first_sect .main_content .main_btn {
      display: inline-block;
      padding: 10px 30px;
      font-size: 0.93em;
      border: 2px solid #fff;
      margin-top: 43px;
      opacity: 0.9; }
      .first_sect .main_content .main_btn:hover {
        opacity: 1;
        -webkit-box-shadow: 0px 0px 10px #fff;
                box-shadow: 0px 0px 10px #fff; }
      .first_sect .main_content .main_btn:active {
        -webkit-box-shadow: 0px 0px 10px #fff;
                box-shadow: 0px 0px 10px #fff; }
  .first_sect .main_nav_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 20px; }
    .first_sect .main_nav_bottom .nav_bottom_item {
      color: #fff;
      font-size: 1.3em;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 130px;
      opacity: 0.6; }
      .first_sect .main_nav_bottom .nav_bottom_item:hover {
        opacity: 1; }
        .first_sect .main_nav_bottom .nav_bottom_item:hover hr:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          background: #f38181;
          right: -webkit-calc(85% - 10px);
          right: calc(85% - 10px); }
      .first_sect .main_nav_bottom .nav_bottom_item hr {
        position: relative;
        border: none;
        background-color: #fff;
        color: #fff;
        height: 2px; }

.sect_two {
  background-color: #fff;
  text-align: center; }
  .sect_two .foto-link {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px; }
    .sect_two .foto-link .foto-link-img {
      position: relative; }
      .sect_two .foto-link .foto-link-img:hover {
        -webkit-transform: translate(-10px, -10px);
            -ms-transform: translate(-10px, -10px);
                transform: translate(-10px, -10px);
        -webkit-box-shadow: 13px 9px 0px 1px #95e1d3;
                box-shadow: 13px 9px 0px 1px #95e1d3; }
      .sect_two .foto-link .foto-link-img:before {
        content: '';
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
        background-image: -webkit-linear-gradient(top, #f38181, #fce38a);
        background-image: -o-linear-gradient(top, #f38181, #fce38a);
        background-image: linear-gradient(to bottom, #f38181, #fce38a);
        opacity: .9; }
  .sect_two .counter-ref {
    background-color: #95e1d3;
    color: #fff; }
    .sect_two .counter-ref .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
      .sect_two .counter-ref .container .ref-item {
        border-left: 0.3px solid #fff;
        border-right: 0.3px solid #fff;
        padding-top: 88px;
        padding-bottom: 88px; }
        .sect_two .counter-ref .container .ref-item span {
          font-size: 4.8em; }

.serv_row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .serv_row .serv_item {
    padding: 20px;
    position: relative; }
    .serv_row .serv_item img {
      position: absolute;
      top: 24%; }
    .serv_row .serv_item .serv_head {
      color: #333333; }
    .serv_row .serv_item p {
      margin-left: 55px; }

.row_1 {
  border-bottom: 1px solid #e5e5e5; }

.row_2 {
  margin-bottom: 120px; }

.four_sect {
  min-height: 100vh;
  -webkit-background-size: 125% 125%;
          background-size: 125%;
  background-position: right;
  position: relative;
  margin-bottom: 50px; }
  .four_sect:before {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #e5e5e5;
    opacity: 0.78; }
  .four_sect .container {
    overflow: hidden;
    position: relative; }
  .four_sect .tablet {
    position: absolute;
    width: 36%;
    left: 30%; }
  .four_sect .iphone {
    width: 13%;
    position: absolute;
    bottom: -44px;
    right: 30%;
    z-index: 3; }

.five_sect .container {
  grid-template-columns: 1fr 1fr;
  margin-bottom: 120px;
  margin-top: 90px; }
  .five_sect .container p {
    text-align: center;
    margin-bottom: 20px; }
  .five_sect .container .txt_acc {
    margin-left: 20px;
    text-align: left;
    height: auto; }
    .five_sect .container .txt_acc .acc-item {
      margin-bottom: 13px; }
    .five_sect .container .txt_acc label {
      padding: 20px 56px;
      position: relative;
      z-index: 20;
      display: block;
      height: 60px;
      cursor: pointer;
      border: 1px solid #999999;
      color: #333333; }
      .five_sect .container .txt_acc label:before {
        content: '';
        position: absolute;
        width: 32px;
        height: 32px;
        left: 15px;
        top: 15px; }
    .five_sect .container .txt_acc .ac-1:before {
      background: transparent url(../img/pic.png) no-repeat center center; }
    .five_sect .container .txt_acc .ac-2:before {
      background: transparent url(../img/equalize.png) no-repeat center center; }
    .five_sect .container .txt_acc .ac-3:before {
      background: transparent url(../img/bullseve.png) no-repeat center center; }
    .five_sect .container .txt_acc .ac-small {
      overflow-y: scroll; }
      .five_sect .container .txt_acc .ac-small::-webkit-scrollbar {
        width: 5px;
        height: 3px; }
      .five_sect .container .txt_acc .ac-small::-webkit-scrollbar-button {
        background-color: f5f5f5; }
      .five_sect .container .txt_acc .ac-small::-webkit-scrollbar-track {
        background-color: f5f5f5; }
      .five_sect .container .txt_acc .ac-small::-webkit-scrollbar-track-piece {
        background-color: f5f5f5; }
      .five_sect .container .txt_acc .ac-small::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: #95e1d3;
        -webkit-border-radius: 3px;
                border-radius: 3px; }
      .five_sect .container .txt_acc .ac-small::-webkit-scrollbar-corner {
        background-color: #95e1d3; }
    .five_sect .container .txt_acc::-webkit-resizer {
      background-color: #95e1d3; }
    .five_sect .container .txt_acc p {
      text-align: left;
      padding: 5px 20px; }

.five_sect .txt_acc input:checked + label,
.five_sect .txt_acc input:checked + label:hover {
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6); }

.five_sect .txt_acc label:after,
.five_sect .txt_acc input:checked + label:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 15px;
  top: 20px;
  background: transparent url(../img/arrow_down.png) no-repeat center center;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.five_sect .txt_acc input:checked + label:hover:after {
  background: transparent url(../img/arrow_down.png) no-repeat center center;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.five_sect .txt_acc input {
  display: none; }

.five_sect .txt_acc article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, -webkit-box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, -webkit-box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear, -webkit-box-shadow 0.6s linear; }

.five_sect .txt_acc input:checked ~ article {
  -webkit-transition: height 0.5s ease-in-out, -webkit-box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, -webkit-box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear, -webkit-box-shadow 0.1s linear;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3);
          box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3); }

.five_sect .txt_acc input:checked ~ article.ac-small {
  height: 175px; }

.five_sect .txt_acc input:checked ~ article.ac-medium {
  height: 175px; }

.five_sect .txt_acc input:checked ~ article.ac-large {
  height: 175px; }

.rev_slider {
  background-color: #greyLight; }
